body {
    font-family: 'Recursive';
    background-color: #FB6B6B;
}

* {
    box-sizing: border-box;
    word-break: break-word;
}

main {
    width: 100%;
    height: calc(100vh - 99px);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 49px;
    /* superior | horizontal | inferior */
    padding: 0 10px 0;
}

.initial-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.initial-page img {
    width: 55px;
    height: 65px;
    margin-top: 90px;
}

.title {
    font-family: 'Righteous';
    width: auto;
    height: 35px;
    font-size: 25px;
    font-weight: normal;
    line-height: 31px;
    letter-spacing: -0.012em;
    text-align: center;
    color: #FFFFFF;
}

.initial-page button {
    font-family: 'Recursive';
    margin-top: 70px;
    width: 141px;
    height: 31px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #D70900;
    background: #FFFFFF;
    border: 1px solid #D70900;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

header {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1;
    margin-top: 22px;
}

header img {
    width: 26px;
    height: 30px;
}

header p {
    width: 101.59px;
    height: 22px;
    font-family: 'Righteous';
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.012em;
    color: #FFFFFF;
    /* transform: rotate(0.58deg); */
    margin-left: 5px;

}

footer {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    background: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}

footer p {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #333333;
}

.deck {
    width: 100%;
    margin-top: 37px;
    display: flex;
    flex-direction: column;
}

.flash-card {
    width: auto;
    height: 40px;
    display: flex;
    justify-content: space-between;
    background: #FFFFFF;
    border-radius: 5px;
    margin-bottom: 5px;
    /* superior | direita | inferior | esquerda */
    padding: 13px 13px 13px 6px;
    animation: closeFlashCard 0.5s 0.5s both;
}

.flash-card img {
    width: 13px;
    height: 15px;
    animation: closeFlashCardImg 0.8s 0.8s both;
}

.flash-card p {
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    color: #333333;
    animation: closeFlashCardImg 0.8s 0.8s both;
}

.opened-flash-card {
    width: auto;
    height: 40px;
    display: flex;
    justify-content: space-between;
    position: relative;
    background: #FFFFFF;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 13px 6px;
    animation: openFlashCard 0.5s 0.5s both;
}

.opened-flash-card img {
    width: 20px;
    height: 13px;
    position: absolute;
    bottom: 8px;
    right: 7px;
    animation: openFlashCardImg 0.8s 0.8s both;
}

.opened-flash-card p {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #333333;
    animation: openFlashCardImg 0.8s 0.8s both;
}

.turned-flash-card {
    width: auto;
    min-height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
    margin-bottom: 5px;
    height: 80px;
    background: #FFFFD5;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    animation: openFlashCard 0.5s 0.5s both;
}

.turned-flash-card p {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #333333;
    margin-top: 5px;
    margin-left: 6px;
    animation: closeFlashCardImg 0.5s 0.5s both;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 12px;
    margin-bottom: 3px;
    padding-left: 5px;
    animation: closeFlashCardImg 0.5s 0.5s both;
}

.buttons button {
    width: calc(33%);
    min-height: 28px;
    border-radius: 5px;
    font-family: 'Recursive';
    font-weight: 400;
    font-size: 10px;
    line-height: 8px;
    color: #FFFFFF;
    border: none;
    margin-right: 5px;
}

.buttons button:nth-child(1) {
    background-color: #FF3030;
}

.buttons button:nth-child(2) {
    background: #FF922E;
}

.buttons button:nth-child(3) {
    background: #2FBE34;
}




@keyframes openFlashCard {
    from {
        height: 40px;
        background: #FFFFFF;

    }

    to {
        height: 80px;
        background: #FFFFD5;
        box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    }
}

@keyframes closeFlashCard {
    from {
        height: 80px;
        background: #FFFFD5;
        box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    }

    to {
        height: 40px;
        background: #FFFFFF;
    }
}

@keyframes closeFlashCardImg {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes openFlashCardImg {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes rotate {
    from {}

    to {
        transform: rotate(360deg);
    }
}